.input-group-addon {
  border-radius: 0 5px 5px 0 !important;
  border: none !important;
}

#create_payment {

  width: 100%;

  table {
    width: 100%;
  }

}

#blockchain_explorer .modal {
  a {
    color: #38aecc !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 699px) {
  #create_payment {

    td.columnAddress {
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
  #create_payment {

    td.columnAddress {
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1389px) {
  #create_payment {

    td.columnAddress {
      max-width: 524px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

@media screen and (min-width: 1390px) {
  #create_payment {

    td.columnAddress {
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}