#addressOverview {

  width: 100%;

  table {
    width: 100%;
  }

  tr:nth-child(even) {
    color: #528ea6;
    background-color: #d9ebf2;
  }

  tr:nth-child(odd) {
    color: #528ea6;
    background-color: #ffffff;
  }

  .columnActions {
    //width: 100px;
  }

  .vertical-line {
    border-left: 1px solid #086788;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0 10px 0 10px;
  }

  td.columnAddress {
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

//@media screen and (min-width: 320px) and (max-width: 699px) {
//  #addressOverview {
//
//    td.columnAddress {
//      max-width: 50px;
//      overflow: hidden;
//      text-overflow: ellipsis;
//      white-space: nowrap;
//    }
//  }
//}
//
//@media screen and (min-width: 700px) and (max-width: 1023px) {
//  #addressOverview {
//
//    td.columnAddress {
//      max-width: 250px;
//      overflow: hidden;
//      text-overflow: ellipsis;
//      white-space: nowrap;
//    }
//  }
//}
//
//@media screen and (min-width: 1024px) and (max-width: 1389px) {
//  #addressOverview {
//
//    td.columnAddress {
//      max-width: 524px;
//      text-overflow: ellipsis;
//      white-space: nowrap;
//      overflow: hidden;
//    }
//  }
//}
//
//@media screen and (min-width: 1390px) {
//  #addressOverview {
//
//    td.columnAddress {
//      width: 100%;
//      text-overflow: ellipsis;
//      white-space: nowrap;
//      overflow: hidden;
//    }
//  }
//}
//
//.table-text-wrapper {
//  max-width: 1024px;
//  overflow: hidden;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//}

