@import '../../../theme/sass/conf/conf';

#multi-wallet {
  .heading-logo {
    text-align: center;
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
  }

  .heading-text {
    width:100%;
    text-align: center;
    font-size: 18px;
    height: 32px;
  }

}
