<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
    <a routerLink="/pages/dashboard/mainWallet" class="al-logo clearfix">
        <img class="top-logo-img img-responsive" src="https://b2bcoin.xyz/icons/B2Bweb-icon-logo-white.svg" width="48px">
        <span class="top-text">B2B Coin Multi - Wallet</span>
    </a>
    <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon top-menu-toggle menu-toggle" style="color: white"></a>

    <!--<div class="search">-->
        <!--<a (click)="startSearch()" style="color: #ffffff"><i class="fa fa-search"></i></a>-->
        <!--<input type="text" [(ngModel)]="transactionsService.searchString" placeholder="Search for transaction or block ...">-->
    <!--</div>-->

    <!--<select class="row-spacer-15" [(ngModel)]="transactionsService.coin">-->
        <!--<option *ngFor="let coin of walletService.coins" [ngValue]="coin">{{coin.name}}</option>-->
    <!--</select>-->

    <div class="user-profile clearfix">
        <div class="dropdown al-userId-profile">
            <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown"
               aria-expanded="false">
                <img src="{{ ( 'Profile' | baProfilePicture ) }}">
            </a>
            <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
                <li class="dropdown-item"><i class="dropdown-arr"></i></li>
                <li class="dropdown-item"><a (click)="selectMenuAndNotify('pages/profile', 'Profile')"><i
                        class="fa fa-userId"></i>Profile</a></li>
                <li class="dropdown-item"><a (click)="selectMenuAndNotify('pages/settings', 'Settings')"><i
                        class="fa fa-cog"></i>Settings</a></li>
                <li class="dropdown-item"><a href="#" (click)="logout()" class="signout"><i class="fa fa-power-off"></i>Sign
                    out</a></li>
            </ul>
        </div>
        <!--<ba-msg-center></ba-msg-center>-->
    </div>
</div>
