<div class="auth-main">

    <div class="auth-block">
        <div class="col-md-12">
            <span class="circle">
                <img class="heading-logo center" src="https://b2bcoin.xyz/symbols/symbol_128x128.png">
            </span>
        </div>

        <div class="col-md-4">&nbsp;</div>
        <div class="col-md-8 row-spacer-25">
            <div class="login-title">B2B Coin Multi - Wallet</div>
            <div class="login-sign-in row-spacer-10">{{'NEW_SIGN_UP' | translate}}.</div>
        </div>

        <div class="col-md-12">
            <a routerLink="/login" class="auth-link btn btn-default btn-auth row-spacer-15">{{'SIGN_IN' | translate}}!</a>
        </div>

        <!--<h1>Sign up to B2B Coin Wallet</h1>-->
        <!--<a routerLink="/login" class="auth-link">Already have an b2b-wallet account? Sign in!</a>-->

        <div class="col-md-12">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-8">
                <div class="message" *ngFor="let message of messages">{{message}}</div>
                <div class="error" *ngFor="let error of errors">{{error}}</div>
            </div>
        </div>

        <div class="col-md-12">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
                <div class="form-group row"
                     [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
                    <div class="col-md-4">
                        <label for="inputName3" class="control-label pull-right">{{'NAME' | translate}}</label>
                    </div>

                    <div class="col-sm-8">
                        <input [formControl]="name" type="text" class="form-control" id="inputName3"
                               placeholder="{{'NAME' | translate}}">
                    </div>
                </div>
                <div class="form-group row"
                     [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
                    <div class="col-md-4">
                        <label for="inputEmail3" class="control-label pull-right">{{'EMAIL' | translate}}</label>
                    </div>

                    <div class="col-sm-8">
                        <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="{{'EMAIL' | translate}}">
                    </div>
                </div>
                <div class="form-group row"
                     [ngClass]="{'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                    <div class="col-md-4">
                        <label for="inputPassword3" class="control-label pull-right">{{'PASSWORD' | translate}}</label>
                    </div>

                    <div class="col-sm-8">
                        <input [formControl]="password" type="password" class="form-control" id="inputPassword3"
                               placeholder="{{'PASSWORD' | translate}}">
                    </div>
                </div>
                <div class="form-group row"
                     [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
                    <div class="col-md-4">
                        <label for="inputPassword4" class="control-label pull-right">{{'REPEAT_PASSWORD' | translate}}</label>
                    </div>

                    <div class="col-sm-8">
                        <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4"
                               placeholder="Repeat">
                        <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)"
                              class="help-block sub-little-text">{{'PASSWORDS_DONT_MATCH' | translate}}.</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                        <button *ngIf="!submitted" [disabled]="!form.valid" type="submit" style="width:75px" class="btn btn-default btn-auth pull-right">Sign up</button>
                        <button *ngIf="submitted" style="width:75px" class="btn btn-default btn-auth pull-right"><img style="width:16px" src="/assets/img/button-loading.svg"/></button>

                        <!--<button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth pull-right">Sign up</button>-->
                        <a routerLink="/forgotPassword" class="btn btn-default btn-auth pull-right">{{'FORGOT_PASSWORD' | translate}}?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 center margin-top-60 center">
            <a href="https://www.facebook.com/b2beyond/" target="_blank"><img class="img-responsive" src="https://b2bcoin.xyz/icons/B2Bweb-icon-facebook.svg"></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 center margin-top-60 center">
            <a href="https://twitter.com/CoinB2b" target="_blank"><img class="img-responsive" src="https://b2bcoin.xyz/icons/B2Bweb-icon-twitter.svg"></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 center margin-top-60 center">
            <a href="https://t.me/joinchat/Fxlb2Qw8ivAta7iYgM0Wiw" target="_blank"><img class="img-responsive" src="https://b2bcoin.xyz/icons/B2Bweb-icon-telegram.svg"></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 center margin-top-60 center">
            <a href="https://discord.gg/QwhhqPY" target="_blank"><img class="img-responsive" src="https://b2bcoin.xyz/icons/B2Bweb-icon-discord.svg"></a>
        </div>
    </div>
</div>
