<div *ngFor="let item of transactions">

    <ba-card title="{{item.address}}" baCardClass="with-scroll" collapsable="true">
        <div class="horizontal-scroll">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="action-icons">Hash</th>
                    <th class="align-right">Fee</th>
                    <th class="align-right">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="3" routerLink="/pages/payments/create" style="cursor: pointer">Add new payment</td>
                </tr>
                <tr *ngFor="let transactionWrapper of item.transactions">
                    <td class="table-text-wrapper"><span class="table-text-wrapper">{{ transactionWrapper.blockHash }}</span></td>
                    <td class="align-right">{{getFee(transactionWrapper)}}</td>
                    <td class="align-right">{{getAmount(transactionWrapper)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </ba-card>
</div>