coin=b2bcoin

wallet-daemon-base-url=http://0.0.0.0:9090
coin-daemon-base-url=http://127.0.0.1:39156

log-file-coin=b2bcoind.log
log-file-wallet=walletd.log

min-width=1350
min-height=775

pool-pools=pool.b2bcoin.ml
pool-ports=3333,5555,7777,9999

coin-daemon-mac=b2bcoind
coin-daemon-linux=b2bcoind
coin-daemon-windows=b2bcoind.exe

wallet-daemon-mac=walletd
wallet-daemon-linux=walletd
wallet-daemon-windows=walletd.exe

solo-miner-daemon-mac=simplewallet
solo-miner-daemon-linux=simplewallet
solo-miner-daemon-windows=simplewallet.exe

pool-miner-daemon-mac=yam
pool-miner-daemon-linux=yam
pool-miner-daemon-windows=yam.b2b