version=2.0.1-SNAPSHOT
coin=b2bcoin

wallet-daemon-base-url=http://127.0.0.1:9090
coin-daemon-base-url=http://127.0.0.1:39156
#coin-daemon-base-url=http://168.235.102.154:39156

log-file-coin=b2bcoind.log
log-file-wallet=walletd.log

min-width=1350
min-height=775
coin-config=https://b2bcoin.xyz/configs/b2bcoin.conf
coin-daemon-mac=b2bcoind
coin-daemon-linux=b2bcoind
coin-daemon-windows=b2bcoind.exe

wallet-daemon-mac=walletd
wallet-daemon-linux=walletd
wallet-daemon-windows=walletd.exe

solo-miner-daemon-mac=simplewallet
solo-miner-daemon-linux=simplewallet
solo-miner-daemon-windows=simplewallet.exe

pool-miner-daemon-mac=xmrig
pool-miner-daemon-linux=xmrig
pool-miner-daemon-windows=xmrig.exe

pool-pools=pool.b2bcoin.ml:3333,pool.b2bcoin.ml:5555,pool.b2bcoin.ml:7777,pool.b2bcoin.ml:9999

#,85.214.35.201:9000,85.214.35.201:9001,85.214.35.201:9002,85.214.35.201:9003
