@import "~normalize.css";
@import "theme/theme";

html,body { height:100%; }

.modal-body {
  a {
    color: #38aecc !important;
  }
}

.center {
  text-align: center;
}

.white-text {
  color: white !important;
}

.fa-15x {
  font-size: 1.5em;
}

#faucetSpendAddresses table.ng2-smart-table > tbody > tr > td:first-child {
  text-align: left !important;
  max-width: 650px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ng2-smart-pagination-nav {
  text-align: center;
  background-color: #086788;
}

// notification plugin
markdown {
  // TODO - Make it look like https://dimpu.github.io/angular2-markdown/
  code[class*=language-], pre[class*=language-] {
    color: #000;
    background: 0 0;
    text-shadow: 0 1px #fff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none
  }
  code[class*=language-] ::-moz-selection, code[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection, pre[class*=language-]::-moz-selection {
    text-shadow: none;
    background: #b3d4fc
  }
  code[class*=language-] ::selection, code[class*=language-]::selection, pre[class*=language-] ::selection, pre[class*=language-]::selection {
    text-shadow: none;
    background: #b3d4fc
  }
  @media print {
    code[class*=language-], pre[class*=language-] {
      text-shadow: none
    }
  }
  pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto
  }
  :not(pre) > code[class*=language-], pre[class*=language-] {
    background: #f5f2f0
  }
  :not(pre) > code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
  }
  .token.cdata, .token.comment, .token.doctype, .token.prolog {
    color: #708090
  }
  .token.punctuation {
    color: #999
  }
  .namespace {
    opacity: .7
  }
  .token.boolean, .token.constant, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag {
    color: #905
  }
  .token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
    color: #690
  }
  .language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5)
  }
  .token.atrule, .token.attr-value, .token.keyword {
    color: #07a
  }
  .token.function {
    color: #DD4A68
  }
  .token.important, .token.regex, .token.variable {
    color: #e90
  }
  .token.bold, .token.important {
    font-weight: 700
  }
  .token.italic {
    font-style: italic
  }
  .token.entity {
    cursor: help
  }
  /*# sourceMappingURL=prism.min.css.map */
}

.simple-notification-wrapper {
  z-index: 10000 !important;
}

.btn-circle {
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: right;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #38aecc !important;
  border-color: #9dd9d2 !important;
}

.btn-primary:hover {
  background-color: #9dd9d2 !important;
  border-color: #38aecc !important;
}

.modal {
  //padding-top: 300px;  

  .modal-content {
    // color: $dropdown-text;

    background-color: #086788;

    // .form-group label {
    //     color: black;
    // }

    .modal-header {
      border: none;
      border-bottom: azure;
    }

    .modal-footer {
      border: none;
    }

    .close {
      outline: none;
    }
  }
}

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-lg {
  max-height: 80% !important;
  max-width: 80% !important;
}

.modal-md {
  max-height: 50% !important;
  max-width: 50% !important;
}

input, select {
  height: 2.0rem !important;
}

.hidden {
  display: none !important;
}

:host /deep/ .widgets {
  .smart-table-container {
    width: 100%;
  }
}

:host /deep/ {
  ng2-smart-table {
    th, td {
      border: 1px solid $border-light !important;
      line-height: 35px;
      vertical-align: middle;
    }

    table tr td {
      padding: 0 8px;
    }

    color: $default-text;

    input {
      line-height: 1.5 !important;
    }

    ng2-smart-table-cell {
      color: $default-text;
      line-height: 35px;
    }

    tbody {
      tr {
        color: $default-text;
      }
      tr:hover {
        background: rgba(0, 0, 0, 0.03);
      }
    }

    a.ng2-smart-sort-link {
      font-size: 14px !important;
      color: $default-text;
      font-weight: $font-bolder;
      &.sort {
        font-weight: $font-bolder !important;

        &::after {
          border-bottom-color: $default-text !important;
        }
      }
    }

    .ng2-smart-actions {
      width: 70px;
      text-align: center;
      .actions {
        float: none;
        text-align: center;
      }
    }

    .ng2-smart-actions-title-add {
      text-align: center;
    }

    a.ng2-smart-action, .ng2-smart-title {
      font-size: 14px !important;
      color: $default-text;
      padding: 0 5px;
      display: inline-block;

      &.ng2-smart-action-add-add {
        font-size: 25px !important;
      }
    }

    nav.ng2-smart-pagination-nav {
      display: flex;
      justify-content: center;
    }
  }
}