<div style="cursor: pointer;" class="btn btn-primary btn-circle" (click)="dashboardHelpModal.show()"><i
        class="ion-help"></i></div>

<div id="create_payment" class="col-md-12 col-xs-12">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Payment data</h4>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="websiteName">PaymentId:</label>
                        <input type="text" class="form-control" id="websiteName" [(ngModel)]="payment.paymentId"
                               placeholder="PaymentId name - optional">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Address</label>
                        <select class="form-control" [(ngModel)]="selectedAddress">
                            <option *ngFor="let address of addresses" [ngValue]="address">{{address.address}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label>Fee: </label>
                        <label>{{getParsedAmount(payment.fee)}}</label>
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <a class="btn btn-primary" (click)="createTransferModal.show()">Add transaction</a>
                <a *ngIf="!submitting" style="width:150px" class="btn btn-primary" (click)="createPayment()">Create payment</a>
                <a *ngIf="submitting" style="width:150px" class="btn btn-primary"><img style="width:16px" src="/assets/img/button-loading.svg"/></a>
            </div>
        </div>
    </div>

    <div class="horizontal-scroll">
        <table class="table table-hover address_table">
            <thead>
            <tr class="black-muted-bg">
                <th class="align-left">Address</th>
                <th class="align-right">Amount</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transfer of transfers" class="no-top-border">
                <td class="columnAddress">{{transfer.address}}</td>
                <td ngClass="columnAmount align-right">{{getParsedAmount(transfer.amount)}}</td>
                <td>Coming soon</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<!-- Static modal -->
<div class="modal fade" bsModal #createTransferModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" (click)="createTransferModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add new transfer</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="websiteName" [(ngModel)]="transfer.address" placeholder="Receiver Address">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="transfer.amount" placeholder="Amount to transfer" aria-describedby="basic-addon2"
                                   (ngModelChange)="onAmountChange($event)" b2bCurrencyFormatter>
                            <span class="input-group-addon" id="basic-addon2">B2B</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="createTransferModal.hide()">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="addTransaction()">Ok</button>
            </div>
        </div>
    </div>
</div>

<!-- Static modal -->
<div class="modal fade" bsModal #messageModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
     role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" (click)="messageModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 *ngIf="!error" class="modal-title">Payment success</h4>
                <h4 *ngIf="error" class="modal-title">Payment failed</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="!error">
                    Payment executed: (There is a possibility that the hash is not found. Just be patient, it will get processed.
                    <a (click)='gotoPayment(this.transactionHash)'>{{transactionHash}}</a>
                </div>
                <div *ngIf="error">
                    Payment failed: {{message}}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary confirm-btn" (click)="messageModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Static modal -->
<div class="modal fade" bsModal #dashboardHelpModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1"
     role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" (click)="dashboardHelpModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Payment help</h4>
            </div>
            <div class="modal-body">
                <markdown class="markdown" [path]="'assets/docs/payments.md'"></markdown>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary confirm-btn" (click)="dashboardHelpModal.hide()">Close</button>
            </div>
        </div>
    </div>
</div>