<div id='json-schema-form' #jsonSchemaForm class="json-schema-form">

    <h1 class="form-label">{{getSchemaTitle()}}</h1>

    <div *ngFor="let property of getProperties()">
        <!-- INPUT TEXT -->
        <div *ngIf="property.type == 'text' && evaluateIfStatement(property.ifStatement)"
             [ngClass]="{hidden: property.hidden}">
            <label class="form-label">{{property.value.title}} <i *ngIf="property.disabled"
                                                                  class="ion-eye-disabled"></i></label>
            <input class="form-control"
                   type="text"
                   [(ngModel)]="data[property.id]"
                   [disabled]="property.disabled"
                   placeholder="{{property.placeholder}}"/>
            <small *ngIf="property.value.description" class="form-text text-muted">{{property.value.description}}
            </small>
        </div>

        <!-- INPUT CHECKBOX -->
        <div class="checkbox" *ngIf="property.type == 'checkbox' && evaluateIfStatement(property.ifStatement)"
             [ngClass]="{hidden: property.hidden}">
            <label class="b2b-checkbox nowrap">
                <input type="checkbox" [(ngModel)]="data[property.id]" placeholder="{{property.placeholder}}"/>
                <span>{{property.value.title}} <i *ngIf="property.disabled" class="ion-eye-disabled"></i></span>
            </label>
            <small *ngIf="property.value.description" class="form-text text-muted">{{property.value.description}}
            </small>
        </div>

        <!-- INPUT CHECKBOX -->
        <div class="form-group" *ngIf="property.type == 'select' && evaluateIfStatement(property.ifStatement)"
             [ngClass]="{hidden: property.hidden}">
            <label for="exampleSelect1">Modal width class</label>
            <select class="form-control" [(ngModel)]="data[property.name]">
                <option *ngFor="let data of data[property.id]" [ngValue]="data.value">{{data.description}}</option>
            </select>
            <small *ngIf="property.value.description" class="form-text text-muted">{{property.value.description}}
            </small>
        </div>

        <!-- INPUT TEXTAREA -->
        <div class="form-group" *ngIf="property.type == 'textarea' && evaluateIfStatement(property.ifStatement)"
             [ngClass]="{hidden: property.hidden}">
            <label class="form-label">{{property.value.title}} <i *ngIf="property.disabled"
                                                                  class="ion-eye-disabled"></i></label>
            <small *ngIf="property.value.description" class="form-text text-muted">{{property.value.description}}
            </small>
            <textarea class="form-control" [(ngModel)]="data[property.id]"
                      placeholder="{{property.placeholder}}"></textarea>
        </div>
    </div>

    <input type="button" class="btn btn-primary pull-right" value="Save properties" (click)="submit()"/>
    <!--{{getForm()}}-->
</div>