@import '../../../theme/sass/conf/conf';

#server_info {
  a {
    color: #38aecc !important;
  }

  .card {
    color: #086788;
    background-color: #F0F3F4;
  }
  
  .text-color {
    color: #086788;
  }
}
