<div class="auth-main">
    <div class="auth-block">

        <div class="col-md-12">
            <span class="circle">
                <img class="heading-logo center" src="https://b2bcoin.xyz/symbols/symbol_128x128.png">
            </span>
        </div>

        <div class="col-md-4">&nbsp;</div>
        <div class="col-md-8 row-spacer-25">
            <div class="login-title">B2B Coin Multi - Wallet</div>
            <div class="login-sign-in row-spacer-10">{{'RESET_PASSWORD' | translate}}.</div>
        </div>

        <div class="col-md-12">
            <a routerLink="/login" class="auth-link btn btn-default btn-auth row-spacer-15">{{'SIGN_IN' | translate}}!</a>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-8">
                <div class="message" *ngFor="let message of messages">{{message}}</div>
                <div class="error" *ngFor="let error of errors">{{error}}</div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-8">
                <div *ngIf="!success" class="auth-link">{{'REQUEST_PASSWORD_LINK' | translate}}</div>
                <a *ngIf="success" style="cursor: pointer;" routerLink="/login" class="auth-link">{{'REQUEST_PASSWORD_LINK_TEXT' | translate}}</a>
            </div>
        </div>


        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="form-group row"
                 [ngClass]="{'has-error': (!userId.valid && userId.touched), 'has-success': (userId.valid && userId.touched)}">
                <div class="col-md-4">
                    <label for="inputEmail3" class="col-sm-2 control-label pull-right">{{'EMAIL' | translate}}</label>
                </div>

                <div class="col-sm-8">
                    <input [formControl]="userId" type="email" class="form-control" id="inputEmail3"
                           placeholder="{{'EMAIL' | translate}}">
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button *ngIf="!submitted" [disabled]="!form.valid" type="submit" style="width:150px" class="btn btn-default btn-auth pull-right">{{'RESET_PASSWORD' | translate}}</button>
                    <button *ngIf="submitted" type="button" style="width:150px" class="btn btn-default btn-auth pull-right"><img style="width:16px" src="/assets/img/button-loading.svg"/></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3 center margin-top-60 center">
            <a href="https://www.facebook.com/b2beyond/" target="_blank"><img class="img-responsive" src="https://b2bcoin.xyz/icons/B2Bweb-icon-facebook.svg"></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 center margin-top-60 center">
            <a href="https://twitter.com/CoinB2b" target="_blank"><img class="img-responsive" src="https://b2bcoin.xyz/icons/B2Bweb-icon-twitter.svg"></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 center margin-top-60 center">
            <a href="https://t.me/joinchat/Fxlb2Qw8ivAta7iYgM0Wiw" target="_blank"><img class="img-responsive" src="https://b2bcoin.xyz/icons/B2Bweb-icon-telegram.svg"></a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 center margin-top-60 center">
            <a href="https://discord.gg/QwhhqPY" target="_blank"><img class="img-responsive" src="https://b2bcoin.xyz/icons/B2Bweb-icon-discord.svg"></a>
        </div>
    </div>
</div>
