<div class="auth-main">
    <div class="auth-block">
        <h1>Password reset</h1>
        <!--<a routerLink="/register" class="auth-link">Request password reset link</a>-->
        <a *ngIf="!success" class="auth-link">Request password reset link</a>
        <a *ngIf="success" style="cursor: pointer;" routerLink="/login" class="auth-link">Reset Password link send -
            click here to login</a>

        <div class="col-md-12">
            <div class="message" *ngFor="let message of messages">{{message}}</div>
        </div>

        <div class="col-md-12">
            <div class="error" *ngFor="let error of errors">{{error}}</div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
            <div class="form-group row"
                 [ngClass]="{'has-error': (!userId.valid && userId.touched), 'has-success': (userId.valid && userId.touched)}">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                    <input [formControl]="userId" type="email" class="form-control" id="inputEmail3"
                           placeholder="Email">
                </div>
            </div>

            <div class="form-group row">
                <div class="offset-sm-2 col-sm-10">
                    <button [disabled]="!form.valid" type="submit" class="btn btn-default btn-auth pull-right">Reset
                        password
                    </button>
                </div>
            </div>
        </form>

        <div class="auth-sep"><span><span>or Sign in with one click</span></span></div>

        <div class="al-share-auth">
            <ul class="al-share clearfix">
                <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
                <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
                <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
            </ul>
        </div>
    </div>
</div>
